:root {
  --dark-color: #171717;
  --white-color: #f4f4f4;
  --secondary-color: #3c948b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/* UTILS */
.container {
  max-width: 1270px;
  margin: auto;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: var(--secondary-color);
  color: var(--white-color);
  font-weight: 700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:hover {
  background: #171717;
}

.alert {
  padding: 20px;
  margin: 2rem 0;
  font-size: 20px;
  border: 1px solid var(--dark-color);
}

.alert-warning {
  background: #f8ffc4;
  border: 1px solid #ffee00;
}
.alert-danger {
  background: pink;
  border: none;
}
.alert-info {
  background: turquoise;
  color: var(--dark-color);
}

.alert-none {
  display: none;
}

img {
  width: 210px;
  height: 295px;
  object-fit: cover;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* NAVBAR STYLING */

.navbar {
  padding: 1rem;
  background: var(--dark-color);
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  list-style: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav__brand a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white-color);
}
.nav__brand a:hover {
  color: var(--secondary-color);
}

.links__link > a {
  text-decoration: none;
  display: block;
  color: var(--white-color);
  padding: 1rem;
  margin-left: 0.5rem;
  border: 1px solid var(--dark-color);
  font-size: 20px;
}

.links__link > a:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

/* STYING SEARCH BAR */

.searchBar {
  width: 100%;
  margin: 2rem 0;
  /* padding: 1.5rem; */
}

.searchBar__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar__form > input {
  padding: 10px 17px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border: 1px solid #171717; */
  background: var(--white-color);
  border: none;
  color: var(--dark-color);
}

.searchBar__form > input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
  box-shadow: 0 0 1px 1px rgba(60, 148, 149, 0.5);
}

/*  LIST ITEM STYLING */

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  margin-left: 2.5rem;
}

.listItem {
  text-decoration: none;
  width: 210px;
  background: var(--white-color);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem 0;
  cursor: pointer;
  /* display: inline-block; */
}

.listItem:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.listItem__info {
  text-align: center;
  color: var(--dark-color);
}
.info__name {
  font-size: 1rem;
  padding: 5px;
  /* text-decoration: none; */
}

.info__rating {
  color: var(--secondary-color);
  padding: 5px;
  /* text-decoration: none; */
}

/* DETAILS PAGE */

.detailsPage {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
}

.margin:not(:last-child) {
  margin-bottom: 1.5rem;
}

.detailsPage__genre {
  padding: 0.5rem;
  margin-right: 0.5rem;
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 5px;
}

.detailsPage__status {
  margin-top: 3rem;
}

.title__desc {
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.description {
  line-height: 2;
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-left: 1.95rem;
  }

  .detailsPage {
    display: block;
  }

  .detailsPage__image {
    width: 100%;
    height: 450px;
  }

  .detailsPage__genre {
    display: flex;
  }
}

@media (max-width: 500px) {
  .list {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    /* margin: 2.5rem; */
    /* margin-right: 5rem; */
    /* width: 100%; */
    margin-left: 2.6rem;
  }

  .listItem {
    width: 140px;
  }

  img {
    width: 140px;
    height: 200px;
  }

  .nav__brand > a {
    font-size: 1.2rem;
  }

  .links__link > a {
    font-size: 0.95rem;
  }
}

@media (max-width: 400px) {
  .list {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-left: 1.9rem;
  }
}
